* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(15, 15, 15);
    overflow: hidden; /* hide main body scroll */
}

/* Scrollable container inside main, if needed */
.main {
    height: 100%;
    width: 100%;
    max-width: 480px;
    display: flex;  
    flex-direction: column;
    overflow-y: scroll; /* allow scrolling inside main */
    -ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none;  /* Firefox */
}

.main::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

nav {
    width: 100%;
    position: sticky;
    top: 0%;
    z-index: 999;
}

nav img {
    display: block;
    width: 100%;
}

.scr, .scr img, .fp, .fp img, footer, footer img {
    width: 100%;
}

.scr, nav {
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

footer img {
    width: 100%;
    display: block;
    max-width: 480px;
}
