* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(15, 15, 15);
}

.main{
      height: 100%;
    width: 100%;
    max-width: 480px;
    display: flex;  
flex-direction: column;
}
nav{
    width: 100%;
}
nav img{
width: 100%;
}
nav {
    position: sticky;
    top: 0%;
    z-index: 999;
}
.scr,.scr img,.fp,.fp img,footer ,footer img{
    width: 100%;
}

nav img, .scr img {
  display: block; /* removes inline gap */
  width: 100%;
}

.scr, nav {
  margin: 0;
  padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

footer img {
    width: 100%;
    display: block;
    max-width: 480px;
}
